---
layout: document
###
 # This layout inserts a menu into its parent layout before the content block
 # of the child layout.
 # 
 # It sorts people from `_people/` in a drop down menu (see starting from
 # "{% assign people ... %}" blocks.
 # 
 # It will also pull data from `_data/menus/menu.yaml` in the order it appears
 # on that list.
 # 
 ##
---
<nav class="navbar navbar-default">{% comment %} This part not indented on purpose. {% endcomment %}
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img src="/assets/img/aphrodite_bust.svg" width="25px" class="pull-left" style="margin-right: 10px; margin-top: -2px;" alt="">
              {{ site.title }}
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% assign menu = site.data.menus.menu %}
              {% for item in menu %}
                {% if item.link %}
              <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% elsif item.children %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ item.name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                {% for child in item.children %}
                  {% if child.link %}
                  <li><a href="/people">{{ child.name }}</a></li>
                  {% elsif child.separator %}
                  <li role="separator" class="divider"></li>
                  {% elsif child.header %}
                  <li class="dropdown-header">{{ child.header }}</li>
                  {% endif %}
                {% endfor %}{% comment %} # for item in menu {% endcomment %}
                </ul>

                {% endif %}
              {% endfor %}{% comment %} # for item in menu {% endcomment %}
              <!-- <li class="active"><a href="#">Research</a></li> -->
              <!-- <li><a href="#">About</a></li> -->
              <!-- <li><a href="#">Contact</a></li> -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  People <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                  <li><a href="/people">People</a></li>

                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Postdoctoral Fellows</li>
                  {% assign people = site.people | where_exp: "person", "person.layout == 'people/postdoc_fellow'" %}
                  {% assign people = people | sort: 'slug' %}
                  {% for person in people %}
                    <li><a href="{{ person.url }}">{{ person.name }}</a></li>
                  {% endfor %}

                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Graduate Students</li>
                  {% assign people = site.people | where_exp: "person", "person.layout == 'people/grad_student'" %}
                  {% assign people = people | sort: 'slug' %}
                  {% for person in people %}
                    <li><a href="{{ person.url }}">{{ person.name }}</a></li>
                  {% endfor %}

                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Research Associates / Other</li>
                  {% assign people = site.people | where_exp: "person", "person.layout == 'people/research_other'" %}
                  {% assign people = people | sort: 'slug' %}
                  {% for person in people %}
                    <li><a href="{{ person.url }}">{{ person.name }}</a></li>
                  {% endfor %}

                </ul>
              </li>

              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      {{ content }}
